@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FF4444;
  --secondary: #1E1E1E;
}

body {
  @apply bg-dark-400 text-gray-100;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-red-600;
}

/* Custom Selection */
::selection {
  @apply bg-primary text-white;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
} 