/* postcss-ignore-next-line */
@tailwind base;
/* postcss-ignore-next-line */
@tailwind components;
/* postcss-ignore-next-line */
@tailwind utilities;

/* Tüm elementlerin outline'ını kaldır */
a:focus, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

:root {
  --primary: #FF4444;
  --secondary: #1E1E1E;
}

body {
  /* postcss-ignore-next-line */
  @apply bg-dark-400 text-gray-100;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* postcss-ignore-next-line */
  @apply bg-dark-300;
}

::-webkit-scrollbar-thumb {
  /* postcss-ignore-next-line */
  @apply bg-primary rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  /* postcss-ignore-next-line */
  @apply bg-red-600;
}

/* Custom Selection */
::selection {
  /* postcss-ignore-next-line */
  @apply bg-primary text-white;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
} 